/* Apply a dark background color to the entire page */
body {
    background-color: #333;
    color: #fff; /* Set text color to white */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding to the entire page */
    font-family: 'Inconsolata', sans-serif; /* Use a readable font */
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../font/static/Inconsolata_ExtraExpanded-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style the header and navigation menu */
header {
    background-color: #222;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center align menu items */
}

nav ul li {
    display: block; /* Display menu items as blocks for mobile */
    margin-bottom: 10px; /* Add space between menu items on mobile */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    /* Increase padding to make the button bigger */
    padding: 12px 20px; /* Adjust the values as needed */
    display: block; /* Display menu items as blocks for mobile */
}

/* Style the "About Me" section */
#about {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
}

#about h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

#about p {
    font-size: 16px;
    line-height: 1.5;
}


/* Style the "About Me" and "Projects" sections */
section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
}

h1, h2 {
    color: #fff;
}

p {
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Improve readability with proper line height */
}

/* Style the GitHub button */
a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #0074d9; /* GitHub blue */
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

a img {
    height: 40px;
    width: 120px;
    vertical-align: middle;
    margin-right: 5px;
}

a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav a {
        padding: 12px 20px;
        display: block;
    }
}
