/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Display menu items vertically for mobile */
        align-items: center; /* Center align menu items vertically */
        padding-left: 0; /* Remove left padding for mobile */
        margin-bottom: 10px; /* Add space between menu items on mobile */
    }

    nav ul li {
        margin-right: 0; /* Remove right margin for mobile */
        margin-bottom: 10px; /* Add space between menu items on mobile */
        text-align: center; /* Center align text in menu items */
    }

    img {
        width: 80%; /* Adjust the logo width for better mobile display */
        max-width: 200px; /* Set a max width for the logo */
        height: auto; /* Maintain the aspect ratio */
        margin-bottom: 10px; /* Add space below the logo on mobile */
    }
}