/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Display header items vertically for mobile */
        align-items: center; /* Center align header items vertically */
        padding-left: 0; /* Remove left padding for mobile */
    }

    nav ul {
        flex-direction: column; /* Display menu items vertically for mobile */
        align-items: center; /* Center align menu items vertically */
        padding-left: 0; /* Remove left padding for mobile */
    }

    nav ul li {
        margin-right: 0;
        font-size: 8px; /* Adjust the font size as needed */
        margin-bottom: 10px;
        text-align: center;
    }

    .container {
        width: 95vw; /* 100% of viewport width */
        height: 80vh; /* 80% of viewport height */
        /*max-width: 1400px; /* Set a maximum width for your content */
        /*width: 80%;
        padding: 20px; /* Add margin and padding to the content */
        box-sizing: border-box; /* Include padding and border in the width */
    
        /* Add a background color if desired */
        background-color: #333;
    }

    /* Style the logo for mobile */
    img {
        width: 60%;
        max-width: 200px;
        height: auto;
        margin-bottom: 10px;
        margin-left: auto; /* Center the logo horizontally */
        margin-right: auto; /* Center the logo horizontally */
    }

    /* Adjust quote padding for mobile */
    .quote {
        padding-right: 20px;
    }

    /* Ensure margin between horizontal menu items */
    nav ul li + li {
        margin-left: 10px;
    }
}
