/* Footer layout */
footer {
    background-color: #222;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the logo for desktop */
img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

/* Style the copyright text */
.copyright {
    color: #fff;
    text-align: right;
    flex-grow: 1;
    padding-left: 900px;
}
