/* styles.css */
/* Apply a dark background color to the entire page */
body {
    background-color: #333;
    color: #fff; /* Set text color to white */
    margin: 0; /* Remove default margin */
    font-family: 'Inconsolata', sans-serif; /* Use a readable font */
    padding: 0; /* Remove default padding */
    /* Center the content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Set a background color or image if desired */
   
    /* background-image: url('your-background-image.jpg'); */
    /* background-size: cover; */
}

.container {
    width: 75vw; /* 100% of viewport width */
    height: 80vh; /* 80% of viewport height */
    /*max-width: 1400px; /* Set a maximum width for your content */
    /*width: 80%;
    padding: 20px; /* Add margin and padding to the content */
    box-sizing: border-box; /* Include padding and border in the width */

    /* Add a background color if desired */
    background-color: #333;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../font/static/Inconsolata_ExtraExpanded-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style the GitHub button */
a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #5AF; /* GitHub blue */
    /* background-color: #0074d9; /* GitHub blue */
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

a img {
    height: 40px;
    width: 120px;
    vertical-align: middle;
    margin-right: 5px;
}

a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
