/* about.css */
/* Style the "About Me" section */

#about {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.about-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


#about h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

#about p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the "About Me" and "Projects" sections */
section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
}

h1, h2 {
    color: #fff;
}

p {
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Improve readability with proper line height */
}

/* Apply styles to key feature containers with class "key-features" */
.key-features ul li {
    margin-bottom: 10px;
}

.key-features ul li strong {
    font-weight: bold;
    margin-right: 8px;
    line-height: 1.5;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5AF; /* GitHub blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.github-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Style the email link as a black button */
.email-button {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Add padding to the button */
    border-radius: 5px; /* Add rounded corners */
    text-decoration: none; /* Remove underline from the link */
}

/* Change button appearance on hover (optional) */
.email-button:hover {
    background-color: #333; /* Darker shade of black on hover */
}

