/* Footer layout */
footer {
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    align-items: center;
    border-radius: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Add gap between list items (buttons) */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the logo for desktop */
img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}








/* Style the copyright text */
.copyright {
    color: #fff;
    text-align: right;
    flex-grow: 1;
    
}


